<?xml version='1.0' encoding='utf-8'?>
<app>
    <!--
      Specify the application name.
      -->
    <name></name>

    <!--
      Specify the application version number.
      If this version number greater than local app's version number,
      download files and update the application.
      -->
    <version></version>

    <!--
      Specify all jar files to run your application.
      -->
    <classpath>
        <path></path>
    </classpath>

    <!--
      Specify main class to run your application.
      -->
    <mainclass></mainclass>
</app>